.container {
  max-width: 1232px;
  padding: 100px 16px;
  margin: auto;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 450px;
  background: linear-gradient(to right, #8a2387, #e94057, #f27121);
}

.header {
  font-size: 270%;
  font-weight: 700;
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
  font-family: "Signika", sans-serif;
}

.smallHeader {
  font-size: 200%;
  font-weight: 700;
  color: #000;
  text-align: center;
  font-family: "Signika", sans-serif;
}

.subHeader {
  text-align: center;
  color: #fff;
  max-width: 500px;
  margin: 0 auto;
  line-height: 1.5;
  font-weight: 500;
  font-size: 80%;
}

.flexContainer {
  display: flex;
  margin-top: 40px;
}

.flexChildContainer {
  border-radius: 6px;
  box-shadow: 0px 5px 40px #c4c8d6;
  width: 100%;
  margin-right: 30px;
  transition: 300ms;
  padding: 40px 30px;
  position: relative;
}

.title {
  font-size: 140%;
  font-weight: 700;
  margin-bottom: 30px;
}

.description {
  font-size: 75%;
  line-height: 1.4;
  font-weight: 500;
}

.link {
  display: flex;
  align-items: center;
  font-size: 65%;
  font-weight: 500;
  margin-top: 20px;
  color: #000;
  text-decoration: none;
}

.btnContainer {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  height: 70px;
}

.actionBtn {
  background: linear-gradient(to right, #8a2387, #e94057, #f27121); 
  font-weight: 500;
  font-size: 14px;
  color: #fff;
  padding: 14px;
  border-radius: 8px;
  letter-spacing: 0.5px;
  text-align: center;
  cursor: pointer;
  transition: 300ms;
  text-decoration: none;
  position: absolute;
  bottom: 40px;
  left: 30px;
  right: 30px;
}

.actionBtn:hover {
  transform: scale(0.97);
  box-shadow: 0px 10px 20px #bbc0dd;
}

@media only screen and (max-width: 930px) {
  .flexContainer {
    flex-direction: column;
    align-items: center;
  }
  .flexChildContainer {
    max-width: 500px;
    margin: 0;
    margin-bottom: 25px;
  }
}

@media only screen and (max-width: 600px) {
  .header {
    font-size: 200%;
  }
  .smallHeader {
    font-size: 170%;
  }
  .subHeader {
    font-size: 70%;
    max-width: 350px;
  }
  .description {
    font-size: 70%;
  }
  .banner {
    height: 400px;
  }
}