.wrapper {
  padding: 0px 16px;
  padding-bottom: 50px;
}

.container {
  max-width: 1000px;
  margin: auto;
  margin-top: 30px;
}

.navContainer {
  display: flex;
  margin-bottom: 30px;
  margin-top: 50px;
  padding: 6px;
  border-radius: 10px;
  background: #eceff3;
  width: fit-content;
}

.navLink {
  font-size: 70%;
  font-weight: 600;
  padding: 8px 12px;
  cursor: pointer;
  color: #00000091;
  transition: 300ms;
  border-radius: 8px;
  margin-right: 5px;
}

.navLink:hover {
  color: #000;
}

.gridContainer {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 25px;
  row-gap: 50px;
  place-items: center;
  margin-bottom: 50px;
}

.productContainer {
  width: fit-content;
  box-shadow: 0px 3px 8px #c4c8d6;
  border-radius: 6px;
  overflow: hidden;
  transition: 300ms;
  /* box-shadow: 0px 5px 10px #a3a3a3; */
}

.productContainer:hover {
  box-shadow: 0px 15px 50px #c4c8d6;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}

.image {
  height: 300px;
}

.title {
  font-weight: 500;
  font-size: 90%;
  margin-top: 10px;
  margin-bottom: 15px;
  text-align: center;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}

.detailsBtn {
  /* background: #e2e5e9; */
  background: #eceff3;
  border: none;
  border-radius: 8px;
  padding: 10px;
  width: 100px;
  font-weight: 500;
  cursor: pointer;
  letter-spacing: 0.5px;
  color: #000;
  transition: 300ms;
  margin-left: 10px;
  box-shadow: 0px 1px 3px #0000003b;
  font-size: 13.3px;
  text-decoration: none;
  text-align: center;
}

.detailsBtn:hover {
  /* background: #cfd2da; */
  box-shadow: 0px 10px 20px #0000003a;
}

.buyNowBtn {
  background: linear-gradient(to right, #8a2387, #e94057, #f27121);
  border: none;
  border-radius: 8px;
  padding: 10px;
  width: 100px;
  font-weight: 500;
  cursor: pointer;
  letter-spacing: 0.5px;
  color: #fff;
  transition: 400ms;
  font-size: 13.3px;
  text-decoration: none;
  text-align: center;
}

.buyNowBtn:hover {
  /* transform: scale(0.97); */
  box-shadow: 0px 10px 20px #bbc0dd;
}

@media only screen and (max-width: 673px) {
  .navContainer {
    margin: auto;
    margin-bottom: 30px;
    margin-top: 50px;
  }
}