* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body,
html {
  font-weight: 400;
  font-size: 20px;
  background: #fff;
  color: #000;
}

.swiper-button-prev,
.swiper-button-next {
  background: #fff;
  border-radius: 50%;
  height: 40px !important;
  width: 40px !important;
  top: 88% !important;
  box-shadow: 0px 0px 15px #abafbb;
  /* opacity: 0.8; */
  transition: 200ms;
}

.swiper-button-prev {
  left: 20px !important;
}

.swiper-button-next {
  right: 20px !important;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  box-shadow: 0px 0px 5px #8b8e97;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 70% !important;
  color: #000;
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #000;
  box-shadow: 0 0 0px 1000px #ffffff inset, 0px 3px 10px #b3b7c4;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset, 0px 3px 10px #b3b7c4;
  transition: background-color 5000s ease-in-out 0s;
}