.wrapper {
  padding: 20px 16px;
  box-shadow: 0px 5px 10px #0000002d;
  position: sticky;
  top: 0;
  z-index: 9999;
  background: #ffffff;
}

.container {
  max-width: 1000px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-weight: 700;
  text-decoration: none;
  font-size: 110%;
  color: #0c0d0f;
  /* font-family: "Signika", sans-serif; */
}

.link {
  font-size: 70%;
  font-weight: 600;
  margin-right: 20px;
  cursor: pointer;
  color: #6d6d6d;
  transition: 200ms;
  text-decoration: none;
}

.link:hover {
  color: #000;
}

.visitBtn {
  background: linear-gradient(to right, #8a2387, #e94057, #f27121);
  border: none;
  border-radius: 8px;
  padding: 10px 16px;
  font-weight: 500;
  cursor: pointer;
  letter-spacing: 0.5px;
  color: #fff;
  transition: 400ms;
}

.visitBtn:hover {
  transform: scale(0.97);
  box-shadow: 0px 1
  0px 20px #bfc3e0;
}

@media only screen and (max-width: 930px) {
  .linkContainer {
    display: none;
  }
}